<p>
  testview works!
</p>







  <h3>Select Gender</h3>
  <form [formGroup]="form" novalidate (ngSubmit)="form.valid && showform()" >
    <div formArrayName="answers">
      <div *ngFor="let entry of arrayData; let i=index">{{i+1}}{{". "}}{{entry.english}}{{"-"}}{{entry.arabic}}
        <div>{{entry._id}}</div>
         <br> 
            <label class="r1" >1 </label> 
            <label class="r">2 </label>
            <label class="r">3 </label>
            <label class="r" >4 </label>
        <br>
         <div class="x">
      
          <p>Strongly Agree</p> 

      <input type="radio"  [formControlName]="i"  value="{answer:1,QId:{{entry._id}}, userId: {{id}}  }" class="radio-inline" >
      <input type="radio"  [formControlName]="i"  value="{answer:2,QId:{{entry._id}}, userId: {{id}}  }" class="radio-inline" >
      <input type="radio"  [formControlName]="i"  value="{answer:3,QId:{{entry._id}}, userId: {{id}}  }" class="radio-inline" >
      <input type="radio"  [formControlName]="i" value="{answer:4,QId:{{entry._id}}, userId:  {{id}}  }" class="radio-inline">
      
         <p>Strongly Disagree</p>

       </div>
        
        <hr>
      </div>
    </div>
  </form>
  <div>data: {{form.value | json}}</div>
  <input type="submit" value="show" [disabled]='!form.valid' (click)="showform()">




    

    <!--<div class="container">
  <div class="con">
   <div >
  	 <img src="assets/analytical.jpg" class="img-responsive"/>
   </div>
   <div class="inside">
	   <div class="col-md-12">
		   <h3 >Test</h3>
       <br>
	   </div>
     <div class="inside2">
       
	  	 <div *ngFor="let q of quest; let i=index" >{{i+1}}{{". "}}{{q.english}}{{"-"}}{{q.arabic}}


        <br> 
            <label class="r1" >1 </label> 
            <label class="r">2 </label>
            <label class="r">3 </label>
            <label class="r" >4 </label>
        <br>
         <div class="x">
          <p>Strongly Agree</p> 
            <form>
             <input type="radio" name="optradio" class="radio-inline">
             <input type="radio" name="optradio" class="radio-inline"> 
             <input type="radio" name="optradio" class="radio-inline">   
             <input type="radio" name="optradio" class="radio-inline">
            </form>
         <p>Strongly Disagree</p>

       </div>
        <br>
        <br>
      </div>
      <br>
      <input type="button" value="next">
    </div>
    </div>
</div>
</div>-->