h3{ 
	
	color:#C71585;
	padding-left: 15px;
}
.inside{
	padding: 25px;
}
.inside2{
	padding: 37px;
}
.col-md-2{
	text-align: center;
}
.x{
   display: flex;
}
.y{
 display: block;
}
.r1{
	color:#C71585;
	margin-left: 130px;
}
.r{
   color:#C71585;
   margin-left: 14px;
}
.con{
  border:1px solid #778899;
}
input[type='radio'] {
  border:1px solid #C71585;
  
  /*-webkit-appearance:none;*/
  width: 15px;
  height: 15px;
  border-radius:50%;
  outline:none;

}
input[type=radio]:checked {
    background-color: #C71585;
}

input,label{
  display: inline-block;
  vertical-align: middle;
}
form{
	margin-left: 15px;
}
p{
	margin-left: 15px;
}



input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}